<a href="https://colab.research.google.com/github/prashannachauhankshetri99/Worksheet1/blob/main/Worksheet3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#**sorting**

In [ ]:
#3.1_ Warm up Exercise

data = pd.read_csv('/content/sample_data/Titanic-Dataset.csv')
df=pd.DataFrame(data)

In [ ]:
'''1.Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.'''
fare = df[['Fare']]
print(fare.head())

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [ ]:
#2
'''Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.'''

p_class = df[['Pclass','Age']]
print(p_class.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [ ]:
#3
'''Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.'''

survivied_gender = df[['Survived','Sex']]
print(survivied_gender)

     Survived     Sex
0           0    male
1           1  female
2           1  female
3           1  female
4           0    male
..        ...     ...
886         0    male
887         1  female
888         0  female
889         1    male
890         0    male

[891 rows x 2 columns]

**Problem - 2 - Subsetting:**

In [ ]:
#1
fare_gt_100 = df[df['Fare']>100]
print(fare_gt_100)

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1
215          216         1       1
258          259         1       1
268          269         1       1
269          270         1       1
297          298         0       1
299          300         1       1
305          306         1       1
306          307         1       1
307          308         1       1
311          312         1       1
318          319         1       1
319          320         1       1
325          326         1       1
332          333         0       1
334          335         1       1
337          338         1       1
341          342         1       1
373          374         0       1
377          378         0       1
380          381         1       1
390          391         1       1
393          394         1       1
435          436         1       1
438          439         0       1
498          499         0       1
505          506         0       1
527          528         0       1
537          538         1       1
544          545         0       1
550          551         1       1
557          558         0       1
581          582         1       1
609          610         1       1
659          660         0       1
660          661         1       1
679          680         1       1
689          690         1       1
698          699         0       1
700          701         1       1
708          709         1       1
716          717         1       1
730          731         1       1
737          738         1       1
742          743         1       1
763          764         1       1
779          780         1       1
802          803         1       1
856          857         1       1

                                                  Name     Sex    Age  SibSp  \
27                      Fortune, Mr. Charles Alexander    male  19.00      3
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1
88                          Fortune, Miss. Mabel Helen  female  23.00      3
118                           Baxter, Mr. Quigg Edmond    male  24.00      0
195                               Lurette, Miss. Elise  female  58.00      0
215                            Newell, Miss. Madeleine  female  31.00      1
258                                   Ward, Miss. Anna  female  35.00      0
268      Graham, Mrs. William Thompson (Edith Junkins)  female  58.00      0
269                             Bissette, Miss. Amelia  female  35.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.00      0
305                     Allison, Master. Hudson Trevor    male   0.92      1
306                            Fleming, Miss. Margaret  female    NaN      0
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
311                         Ryerson, Miss. Emily Borie  female  18.00      2
318                           Wick, Miss. Mary Natalie  female  31.00      0
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.00      1
325                           Young, Miss. Marie Grice  female  36.00      0
332                          Graham, Mr. George Edward    male  38.00      0
334  Frauenthal, Mrs. Henry William (Clara Heinshei...  female    NaN      1
337                    Burns, Miss. Elizabeth Margaret  female  41.00      0
341                     Fortune, Miss. Alice Elizabeth  female  24.00      3
373                                Ringhini, Mr. Sante    male  22.00      0
377                          Widener, Mr. Harry Elkins    male  27.00      0
380                              Bidois, Miss. Rosalie  female  42.00      0
390                         Carter, Mr. William Ernest    male  36.00      1
393                             Newell, Miss. Marjorie  female  23.00      1
435                          Carter, Miss. Lucile Polk  female  14.00      1
438                                  Fortune, Mr. Mark    male  64.00      1
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
505         Penasco y Castellana, Mr. Victor de Satode    male  18.00      1
527                                 Farthing, Mr. John    male    NaN      0
537                                LeRoy, Miss. Bertha  female  30.00      0
544                         Douglas, Mr. Walter Donald    male  50.00      1
550                        Thayer, Mr. John Borland Jr    male  17.00      0
557                                Robbins, Mr. Victor    male    NaN      0
581  Thayer, Mrs. John Borland (Marian Longstreth M...  female  39.00      1
609                          Shutes, Miss. Elizabeth W  female  40.00      0
659                         Newell, Mr. Arthur Webster    male  58.00      0
660                      Frauenthal, Dr. Henry William    male  50.00      2
679                 Cardeza, Mr. Thomas Drake Martinez    male  36.00      0
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
698                           Thayer, Mr. John Borland    male  49.00      1
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.00      1
708                               Cleaver, Miss. Alice  female  22.00      0
716                      Endres, Miss. Caroline Louise  female  38.00      0
730                      Allen, Miss. Elisabeth Walton  female  29.00      0
737                             Lesurer, Mr. Gustave J    male  35.00      0
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.00      2
763          Carter, Mrs. William Ernest (Lucile Polk)  female  36.00      1
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.00      0
802                Carter, Master. William Thornton II    male  11.00      1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1

     Parch    Ticket      Fare            Cabin Embarked
27       2     19950  263.0000      C23 C25 C27        S
31       0  PC 17569  146.5208              B78        C
88       2     19950  263.0000      C23 C25 C27        S
118      1  PC 17558  247.5208          B58 B60        C
195      0  PC 17569  146.5208              B80        C
215      0     35273  113.2750              D36        C
258      0  PC 17755  512.3292              NaN        C
268      1  PC 17582  153.4625             C125        S
269      0  PC 17760  135.6333              C99        S
297      2    113781  151.5500          C22 C26        S
299      1  PC 17558  247.5208          B58 B60        C
305      2    113781  151.5500          C22 C26        S
306      0     17421  110.8833              NaN        C
307      0  PC 17758  108.9000              C65        C
311      2  PC 17608  262.3750  B57 B59 B63 B66        C
318      2     36928  164.8667               C7        S
319      1     16966  134.5000              E34        C
325      0  PC 17760  135.6333              C32        C
332      1  PC 17582  153.4625              C91        S
334      0  PC 17611  133.6500              NaN        S
337      0     16966  134.5000              E40        C
341      2     19950  263.0000      C23 C25 C27        S
373      0  PC 17760  135.6333              NaN        C
377      2    113503  211.5000              C82        C
380      0  PC 17757  227.5250              NaN        C
390      2    113760  120.0000          B96 B98        S
393      0     35273  113.2750              D36        C
435      2    113760  120.0000          B96 B98        S
438      4     19950  263.0000      C23 C25 C27        S
498      2    113781  151.5500          C22 C26        S
505      0  PC 17758  108.9000              C65        C
527      0  PC 17483  221.7792              C95        S
537      0  PC 17761  106.4250              NaN        C
544      0  PC 17761  106.4250              C86        C
550      2     17421  110.8833              C70        C
557      0  PC 17757  227.5250              NaN        C
581      1     17421  110.8833              C68        C
609      0  PC 17582  153.4625             C125        S
659      2     35273  113.2750              D48        C
660      0  PC 17611  133.6500              NaN        S
679      1  PC 17755  512.3292      B51 B53 B55        C
689      1     24160  211.3375               B5        S
698      1     17421  110.8833              C68        C
700      0  PC 17757  227.5250          C62 C64        C
708      0    113781  151.5500              NaN        S
716      0  PC 17757  227.5250              C45        C
730      0     24160  211.3375               B5        S
737      0  PC 17755  512.3292             B101        C
742      2  PC 17608  262.3750  B57 B59 B63 B66        C
763      2    113760  120.0000          B96 B98        S
779      1     24160  211.3375               B3        S
802      2    113760  120.0000          B96 B98        S
856      1     36928  164.8667              NaN        S

In [ ]:
#2
first_class= df[df['Pclass']==1]
print(first_class)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
11            12         1       1
23            24         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
11       0    113783  26.5500         C103        S
23       0    113788  35.5000           A6        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[216 rows x 12 columns]

In [ ]:
#3
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female')]
print(female_under_18)

     PassengerId  Survived  Pclass  \
9             10         1       2
10            11         1       3
14            15         0       3
22            23         1       3
24            25         0       3
39            40         1       3
43            44         1       2
58            59         1       2
68            69         1       3
71            72         0       3
84            85         1       2
111          112         0       3
114          115         0       3
119          120         0       3
147          148         0       3
156          157         1       3
172          173         1       3
184          185         1       3
205          206         0       3
208          209         1       3
233          234         1       3
237          238         1       2
297          298         0       1
307          308         1       1
329          330         1       1
374          375         0       3
381          382         1       3
389          390         1       2
419          420         0       3
435          436         1       1
446          447         1       2
448          449         1       3
469          470         1       3
479          480         1       3
504          505         1       1
530          531         1       2
535          536         1       2
541          542         0       3
542          543         0       3
618          619         1       2
634          635         0       3
642          643         0       3
644          645         1       3
689          690         1       1
691          692         1       3
720          721         1       2
750          751         1       2
777          778         1       3
780          781         1       3
781          782         1       1
813          814         0       3
830          831         1       3
852          853         0       3
853          854         1       1
875          876         1       3

                                                  Name     Sex    Age  SibSp  \
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.00      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.00      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.00      0
22                         McGowan, Miss. Anna "Annie"  female  15.00      0
24                       Palsson, Miss. Torborg Danira  female   8.00      3
39                         Nicola-Yarred, Miss. Jamila  female  14.00      1
43            Laroche, Miss. Simonne Marie Anne Andree  female   3.00      1
58                        West, Miss. Constance Mirium  female   5.00      1
68                     Andersson, Miss. Erna Alexandra  female  17.00      4
71                          Goodwin, Miss. Lillian Amy  female  16.00      5
84                                 Ilett, Miss. Bertha  female  17.00      0
111                               Zabour, Miss. Hileni  female  14.50      1
114                              Attalah, Miss. Malake  female  17.00      0
119                  Andersson, Miss. Ellis Anna Maria  female   2.00      4
147                   Ford, Miss. Robina Maggie "Ruby"  female   9.00      2
156                   Gilnagh, Miss. Katherine "Katie"  female  16.00      0
172                       Johnson, Miss. Eleanor Ileen  female   1.00      1
184                Kink-Heilmann, Miss. Luise Gretchen  female   4.00      0
205                         Strom, Miss. Telma Matilda  female   2.00      0
208                          Carr, Miss. Helen "Ellen"  female  16.00      0
233                     Asplund, Miss. Lillian Gertrud  female   5.00      4
237                   Collyer, Miss. Marjorie "Lottie"  female   8.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
329                       Hippach, Miss. Jean Gertrude  female  16.00      0
374                         Palsson, Miss. Stina Viola  female   3.00      3
381                        Nakid, Miss. Maria ("Mary")  female   1.00      0
389                              Lehmann, Miss. Bertha  female  17.00      0
419                          Van Impe, Miss. Catharina  female  10.00      0
435                          Carter, Miss. Lucile Polk  female  14.00      1
446                  Mellinger, Miss. Madeleine Violet  female  13.00      0
448                     Baclini, Miss. Marie Catherine  female   5.00      2
469                      Baclini, Miss. Helene Barbara  female   0.75      2
479                           Hirvonen, Miss. Hildur E  female   2.00      0
504                              Maioni, Miss. Roberta  female  16.00      0
530                           Quick, Miss. Phyllis May  female   2.00      1
535                             Hart, Miss. Eva Miriam  female   7.00      0
541               Andersson, Miss. Ingeborg Constanzia  female   9.00      4
542                  Andersson, Miss. Sigrid Elisabeth  female  11.00      4
618                        Becker, Miss. Marion Louise  female   4.00      2
634                                 Skoog, Miss. Mabel  female   9.00      3
642                      Skoog, Miss. Margit Elizabeth  female   2.00      3
644                             Baclini, Miss. Eugenie  female   0.75      2
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
691                                 Karun, Miss. Manca  female   4.00      0
720                  Harper, Miss. Annie Jessie "Nina"  female   6.00      0
750                                  Wells, Miss. Joan  female   4.00      1
777                      Emanuel, Miss. Virginia Ethel  female   5.00      0
780                               Ayoub, Miss. Banoura  female  13.00      0
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.00      1
813                 Andersson, Miss. Ebba Iris Alfrida  female   6.00      4
830            Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.00      1
852                            Boulos, Miss. Nourelain  female   9.00      1
853                          Lines, Miss. Mary Conover  female  16.00      0
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.00      0

     Parch         Ticket      Fare    Cabin Embarked
9        0         237736   30.0708      NaN        C
10       1        PP 9549   16.7000       G6        S
14       0         350406    7.8542      NaN        S
22       0         330923    8.0292      NaN        Q
24       1         349909   21.0750      NaN        S
39       0           2651   11.2417      NaN        C
43       2  SC/Paris 2123   41.5792      NaN        C
58       2     C.A. 34651   27.7500      NaN        S
68       2        3101281    7.9250      NaN        S
71       2        CA 2144   46.9000      NaN        S
84       0     SO/C 14885   10.5000      NaN        S
111      0           2665   14.4542      NaN        C
114      0           2627   14.4583      NaN        C
119      2         347082   31.2750      NaN        S
147      2     W./C. 6608   34.3750      NaN        S
156      0          35851    7.7333      NaN        Q
172      1         347742   11.1333      NaN        S
184      2         315153   22.0250      NaN        S
205      1         347054   10.4625       G6        S
208      0         367231    7.7500      NaN        Q
233      2         347077   31.3875      NaN        S
237      2     C.A. 31921   26.2500      NaN        S
297      2         113781  151.5500  C22 C26        S
307      0       PC 17758  108.9000      C65        C
329      1         111361   57.9792      B18        C
374      1         349909   21.0750      NaN        S
381      2           2653   15.7417      NaN        C
389      0        SC 1748   12.0000      NaN        C
419      2         345773   24.1500      NaN        S
435      2         113760  120.0000  B96 B98        S
446      1         250644   19.5000      NaN        S
448      1           2666   19.2583      NaN        C
469      1           2666   19.2583      NaN        C
479      1        3101298   12.2875      NaN        S
504      0         110152   86.5000      B79        S
530      1          26360   26.0000      NaN        S
535      2   F.C.C. 13529   26.2500      NaN        S
541      2         347082   31.2750      NaN        S
542      2         347082   31.2750      NaN        S
618      1         230136   39.0000       F4        S
634      2         347088   27.9000      NaN        S
642      2         347088   27.9000      NaN        S
644      1           2666   19.2583      NaN        C
689      1          24160  211.3375       B5        S
691      1         349256   13.4167      NaN        C
720      1         248727   33.0000      NaN        S
750      1          29103   23.0000      NaN        S
777      0         364516   12.4750      NaN        S
780      0           2687    7.2292      NaN        C
781      0          17474   57.0000      B20        S
813      2         347082   31.2750      NaN        S
830      0           2659   14.4542      NaN        C
852      1           2678   15.2458      NaN        C
853      1       PC 17592   39.4000      D28        S
875      0           2667    7.2250      NaN        C

In [ ]:
#Subsetting Rows by Categorical variables:
#1
embarked_c_or_s = df[(df['Embarked']=='S') | (df['Embarked']=='C')]
print(embarked_c_or_s)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
884          885         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C

[812 rows x 12 columns]

In [ ]:
#2
first_second_class = df[df['Pclass'].isin([1,2])]
print(first_second_class)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
9             10         1       2
11            12         1       1
..           ...       ...     ...
880          881         1       2
883          884         0       2
886          887         0       2
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
1        0          PC 17599  71.2833   C85        C
3        0            113803  53.1000  C123        S
6        0             17463  51.8625   E46        S
9        0            237736  30.0708   NaN        C
11       0            113783  26.5500  C103        S
..     ...               ...      ...   ...      ...
880      1            230433  26.0000   NaN        S
883      0  C.A./SOTON 34068  10.5000   NaN        S
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C

[400 rows x 12 columns]

**3.2 Exploratory Data Analysis Practice Exercise - 1.**

In [33]:
#Handing missing datas in Age colummn
missing_age = df['Age'].isnull()
age_mean = df['Age'].mean()
print(missing_age)
print(age_mean)
df['Age'] = df['Age'].fillna(age_mean)
print(df)

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool
29.69911764705882
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket     Fare Cabin Embarked
0        1      0         A/5 21171   7.2500   NaN        S
1        1      0          PC 17599  71.2833   C85        C
2        0      0  STON/O2. 3101282   7.9250   NaN        S
3        1      0            113803  53.1000  C123        S
4        0      0            373450   8.0500   NaN        S
..     ...    ...               ...      ...   ...      ...
886      0      0            211536  13.0000   NaN        S
887      0      0            112053  30.0000   B42        S
888      1      2        W./C. 6607  23.4500   NaN        S
889      0      0            111369  30.0000  C148        C
890      0      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [36]:
#1
'''Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).'''
df['fare_per_year'] = df['Fare']/df['Age']
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket     Fare Cabin Embarked  fare_per_year
0        1      0         A/5 21171   7.2500   NaN        S       0.329545
1        1      0          PC 17599  71.2833   C85        C       1.875876
2        0      0  STON/O2. 3101282   7.9250   NaN        S       0.304808
3        1      0            113803  53.1000  C123        S       1.517143
4        0      0            373450   8.0500   NaN        S       0.230000
..     ...    ...               ...      ...   ...      ...            ...
886      0      0            211536  13.0000   NaN        S       0.481481
887      0      0            112053  30.0000   B42        S       1.578947
888      1      2        W./C. 6607  23.4500   NaN        S       0.789586
889      0      0            111369  30.0000  C148        C       1.153846
890      0      0            370376   7.7500   NaN        Q       0.242188

[891 rows x 13 columns]

In [37]:
#2
'''Subset rows where fare per year is higher than 5, assigning this to high fare age.'''
high_fare_age = df[df['fare_per_year']>5]
print(high_fare_age)

     PassengerId  Survived  Pclass                                      Name  \
7              8         0       3            Palsson, Master. Gosta Leonard
16            17         0       3                      Rice, Master. Eugene
27            28         0       1            Fortune, Mr. Charles Alexander
43            44         1       2  Laroche, Miss. Simonne Marie Anne Andree
50            51         0       3                Panula, Master. Juha Niilo
..           ...       ...     ...                                       ...
813          814         0       3        Andersson, Miss. Ebba Iris Alfrida
824          825         0       3              Panula, Master. Urho Abraham
827          828         1       2                     Mallet, Master. Andre
831          832         1       2           Richards, Master. George Sibley
850          851         0       3   Andersson, Master. Sigvard Harald Elias

        Sex    Age  SibSp  Parch           Ticket      Fare        Cabin  \
7      male   2.00      3      1           349909   21.0750          NaN
16     male   2.00      4      1           382652   29.1250          NaN
27     male  19.00      3      2            19950  263.0000  C23 C25 C27
43   female   3.00      1      2    SC/Paris 2123   41.5792          NaN
50     male   7.00      4      1          3101295   39.6875          NaN
..      ...    ...    ...    ...              ...       ...          ...
813  female   6.00      4      2           347082   31.2750          NaN
824    male   2.00      4      1          3101295   39.6875          NaN
827    male   1.00      0      2  S.C./PARIS 2079   37.0042          NaN
831    male   0.83      1      1            29106   18.7500          NaN
850    male   4.00      4      2           347082   31.2750          NaN

    Embarked  fare_per_year
7          S      10.537500
16         Q      14.562500
27         S      13.842105
43         C      13.859733
50         S       5.669643
..       ...            ...
813        S       5.212500
824        S      19.843750
827        C      37.004200
831        S      22.590361
850        S       7.818750

[70 rows x 13 columns]

In [39]:
#3
'''Sort high fare age by descending fare per year, assigning this to high fare age srt.'''
high_fare_age_srt = df.sort_values(by='fare_per_year',ascending=False)
print(high_fare_age_srt)

     PassengerId  Survived  Pclass                              Name     Sex  \
305          306         1       1    Allison, Master. Hudson Trevor    male
297          298         0       1      Allison, Miss. Helen Loraine  female
386          387         0       3   Goodwin, Master. Sidney Leonard    male
164          165         0       3      Panula, Master. Eino Viljami    male
183          184         1       2         Becker, Master. Richard F    male
..           ...       ...     ...                               ...     ...
413          414         0       2    Cunningham, Mr. Alfred Fleming    male
674          675         0       2        Watson, Mr. Ennis Hastings    male
481          482         0       2  Frost, Mr. Anthony Wood "Archie"    male
466          467         0       2             Campbell, Mr. William    male
806          807         0       1            Andrews, Mr. Thomas Jr    male

           Age  SibSp  Parch   Ticket      Fare    Cabin Embarked  \
305   0.920000      1      2   113781  151.5500  C22 C26        S
297   2.000000      1      2   113781  151.5500  C22 C26        S
386   1.000000      5      2  CA 2144   46.9000      NaN        S
164   1.000000      4      1  3101295   39.6875      NaN        S
183   1.000000      2      1   230136   39.0000       F4        S
..         ...    ...    ...      ...       ...      ...      ...
413  29.699118      0      0   239853    0.0000      NaN        S
674  29.699118      0      0   239856    0.0000      NaN        S
481  29.699118      0      0   239854    0.0000      NaN        S
466  29.699118      0      0   239853    0.0000      NaN        S
806  39.000000      0      0   112050    0.0000      A36        S

     fare_per_year
305     164.728261
297      75.775000
386      46.900000
164      39.687500
183      39.000000
..             ...
413       0.000000
674       0.000000
481       0.000000
466       0.000000
806       0.000000

[891 rows x 13 columns]

In [40]:
#4
'''Select only the Name and fare per year columns of high fare age srt and save the result as result.'''
result = high_fare_age_srt[['Name', 'fare_per_year']]
print(result)

                                 Name  fare_per_year
305    Allison, Master. Hudson Trevor     164.728261
297      Allison, Miss. Helen Loraine      75.775000
386   Goodwin, Master. Sidney Leonard      46.900000
164      Panula, Master. Eino Viljami      39.687500
183         Becker, Master. Richard F      39.000000
..                                ...            ...
413    Cunningham, Mr. Alfred Fleming       0.000000
674        Watson, Mr. Ennis Hastings       0.000000
481  Frost, Mr. Anthony Wood "Archie"       0.000000
466             Campbell, Mr. William       0.000000
806            Andrews, Mr. Thomas Jr       0.000000

[891 rows x 2 columns]

Which adult male passenger (age 18 and Sex is male) paid the highest fare relative to their
class? **bold text**

In [41]:
#1
'''Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.'''
df['fare_per_class'] = df['Fare']/df['Pclass']
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket     Fare Cabin Embarked  fare_per_year  \
0        1      0         A/5 21171   7.2500   NaN        S       0.329545
1        1      0          PC 17599  71.2833   C85        C       1.875876
2        0      0  STON/O2. 3101282   7.9250   NaN        S       0.304808
3        1      0            113803  53.1000  C123        S       1.517143
4        0      0            373450   8.0500   NaN        S       0.230000
..     ...    ...               ...      ...   ...      ...            ...
886      0      0            211536  13.0000   NaN        S       0.481481
887      0      0            112053  30.0000   B42        S       1.578947
888      1      2        W./C. 6607  23.4500   NaN        S       0.789586
889      0      0            111369  30.0000  C148        C       1.153846
890      0      0            370376   7.7500   NaN        Q       0.242188

     fare_per_class
0          2.416667
1         71.283300
2          2.641667
3         53.100000
4          2.683333
..              ...
886        6.500000
887       30.000000
888        7.816667
889       30.000000
890        2.583333

[891 rows x 14 columns]

In [45]:
#2
'''Subset rows where the passenger is male (Sex is male) and an adult (Age is greater than or equal
to 18), assigning this to adult males.'''
adult_males = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]
print(adult_males)

     PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
5              6         0       3                Moran, Mr. James  male
6              7         0       1         McCarthy, Mr. Timothy J  male
12            13         0       3  Saundercock, Mr. William Henry  male
..           ...       ...     ...                             ...   ...
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
889          890         1       1           Behr, Mr. Karl Howell  male
890          891         0       3             Dooley, Mr. Patrick  male

           Age  SibSp  Parch            Ticket     Fare Cabin Embarked  \
0    22.000000      1      0         A/5 21171   7.2500   NaN        S
4    35.000000      0      0            373450   8.0500   NaN        S
5    29.699118      0      0            330877   8.4583   NaN        Q
6    54.000000      0      0             17463  51.8625   E46        S
12   20.000000      0      0         A/5. 2151   8.0500   NaN        S
..         ...    ...    ...               ...      ...   ...      ...
883  28.000000      0      0  C.A./SOTON 34068  10.5000   NaN        S
884  25.000000      0      0   SOTON/OQ 392076   7.0500   NaN        S
886  27.000000      0      0            211536  13.0000   NaN        S
889  26.000000      0      0            111369  30.0000  C148        C
890  32.000000      0      0            370376   7.7500   NaN        Q

     fare_per_year  fare_per_class
0         0.329545        2.416667
4         0.230000        2.683333
5         0.284800        2.819433
6         0.960417       51.862500
12        0.402500        2.683333
..             ...             ...
883       0.375000        5.250000
884       0.282000        2.350000
886       0.481481        6.500000
889       1.153846       30.000000
890       0.242188        2.583333

[519 rows x 14 columns]

In [46]:
#3
'''Sort adult males by descending fare per class, assigning this to adult males srt.'''
adult_male_str = df.sort_values(by='fare_per_class',ascending=False)
print(adult_male_str)

     PassengerId  Survived  Pclass                                Name  \
258          259         1       1                    Ward, Miss. Anna
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
737          738         1       1              Lesurer, Mr. Gustave J
88            89         1       1          Fortune, Miss. Mabel Helen
438          439         0       1                   Fortune, Mr. Mark
..           ...       ...     ...                                 ...
271          272         1       3        Tornquist, Mr. William Henry
263          264         0       1               Harrison, Mr. William
597          598         0       3                 Johnson, Mr. Alfred
633          634         0       1       Parr, Mr. William Henry Marsh
674          675         0       2          Watson, Mr. Ennis Hastings

        Sex        Age  SibSp  Parch    Ticket      Fare        Cabin  \
258  female  35.000000      0      0  PC 17755  512.3292          NaN
679    male  36.000000      0      1  PC 17755  512.3292  B51 B53 B55
737    male  35.000000      0      0  PC 17755  512.3292         B101
88   female  23.000000      3      2     19950  263.0000  C23 C25 C27
438    male  64.000000      1      4     19950  263.0000  C23 C25 C27
..      ...        ...    ...    ...       ...       ...          ...
271    male  25.000000      0      0      LINE    0.0000          NaN
263    male  40.000000      0      0    112059    0.0000          B94
597    male  49.000000      0      0      LINE    0.0000          NaN
633    male  29.699118      0      0    112052    0.0000          NaN
674    male  29.699118      0      0    239856    0.0000          NaN

    Embarked  fare_per_year  fare_per_class
258        C      14.637977        512.3292
679        C      14.231367        512.3292
737        C      14.637977        512.3292
88         S      11.434783        263.0000
438        S       4.109375        263.0000
..       ...            ...             ...
271        S       0.000000          0.0000
263        S       0.000000          0.0000
597        S       0.000000          0.0000
633        S       0.000000          0.0000
674        S       0.000000          0.0000

[891 rows x 14 columns]

In [47]:
#4
''''''
result = adult_male_str[['Name','Age','fare_per_class']]
print(result)

                                   Name        Age  fare_per_class
258                    Ward, Miss. Anna  35.000000        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.000000        512.3292
737              Lesurer, Mr. Gustave J  35.000000        512.3292
88           Fortune, Miss. Mabel Helen  23.000000        263.0000
438                   Fortune, Mr. Mark  64.000000        263.0000
..                                  ...        ...             ...
271        Tornquist, Mr. William Henry  25.000000          0.0000
263               Harrison, Mr. William  40.000000          0.0000
597                 Johnson, Mr. Alfred  49.000000          0.0000
633       Parr, Mr. William Henry Marsh  29.699118          0.0000
674          Watson, Mr. Ennis Hastings  29.699118          0.0000

[891 rows x 3 columns]

**3.3 Exploratory Data Analysis with Group-by Method Practice **

In [60]:
'''What percent of the total fare revenue came from each passenger class?'''

total_fare = df.groupby('Pclass')['Fare'].sum()
print(total_fare ,"\n")
#making list of the total fare
fare_totals_list = [total_fare[1], total_fare[2], total_fare[3]]
print(fare_totals_list,"\n")

total_overall_fare = sum(fare_totals_list)

fare_rev_class1= fare_totals_list[0]/sum(fare_totals_list)
fare_rev_class2= fare_totals_list[1]/sum(fare_totals_list)
fare_rev_class3= fare_totals_list[2]/sum(fare_totals_list)

print("Proportion of fare revenue:")
print(f"First Class:  {fare_rev_class1:.2%}")
print(f"Second Class: {fare_rev_class2:.2%}")
print(f"Third Class:  {fare_rev_class3:.2%}")

Pclass
1    18177.4125
2     3801.8417
3     6714.6951
Name: Fare, dtype: float64

[18177.4125, 3801.8417, 6714.6951]

Proportion of fare revenue:
First Class:  63.35%
Second Class: 13.25%
Third Class:  23.40%

In [67]:
'''What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?'''

Child = df[df["Age"]<18]
Adult = df[(df["Age"]>=18) & (df["Age"]<=64)]
Senior = df[df["Age"]>=65]

total_pass = len(df)
total_child = len(Child)
total_adult = len(Adult)
total_senior = len(Senior)

print(total_pass)

prop_child = total_child/total_pass
prop_adult = total_adult/total_pass
prop_senior = total_senior/total_pass

print("The proportion of passengers\n")
print(f"Child: {prop_child:.2%}")
print(f"Adult: {prop_adult:.2%}")
print(f"Senior: {prop_senior:.2%}")

891
The proportion of passengers

Child: 12.68%
Adult: 86.08%
Senior: 1.23%